Welcome to GitLab

To get started please follow these steps:

edit '/home/git/gitlab-shell/config.yml' and set your domain name.
edit '/home/git/gitlab/config/gitlab.yml' and set your domain name.

Then run:

service gitlab restart

Default admin login for GitLab application:

email: admin@local.host
pass: 5iveL!fe

For more info please see:
https://digitalocean.com/community/articles/how-to-use-the-gitlab-one-click-install-image-to-manage-git-repositories
